#navbar{
  height: 150px;
  padding: 0 2rem;
  background-color: $lightcolor;
  transition: height 300ms;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //gap: 12px;
  }
  .logo{
    width: 130px;
    height: 130px;
    margin: auto;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transition: transform 300ms;
  }
  .desktop-menu{
    .desktop-menu-link {
      flex-basis: 100%;
      color: $darkcolor;
      font-weight: bold;
      font-size: $large;
      transition: all 300ms;
      &.router-link-exact-active,
      &:hover,
      &:focus {
        color: $primary;
      }
      .link{
        transition: all 300ms;
      }
    }
  }
  // .icon-hamburger,
  // .home-page{
  //   margin: 0 2rem;
  // }
  
  .icon-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid $borderlightcolor;
    border-radius: 3px;
    color: $darkcolor;
    cursor: pointer;
    &::before{
      font-family: "Font Awesome 5 Free"; 
      font-size: 2rem;
      font-weight: 900; 
      content: "\f0c9";
    }
    &:hover,
    &:focus{
      color: $primary;
    }
  }
  
  .mobile-menu{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $darktrasparency;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & > *{
      width: max-content;
    }
    .close-menu{
      position: absolute;
      right: 40px;
      top: 20px;
      &::before{
        font-family: "Font Awesome 5 Free"; 
        font-size: 2rem;
        font-weight: 900; 
        content: "\f00d";
        color: $lightcolor;
        cursor: pointer;
      }
    }
    .mobile-menu-link{
      color: $lightcolor;
      font-weight: bold;
      font-size: 1.5rem;
      transition: color 300ms;
      &.router-link-exact-active, 
      &:hover, 
      &:focus {
        color: $primary;
      }
    }
  }
}

#jingle{
  width: 100%;
  color: $lightcolor;
  background-color: $darkcolor;
  border-bottom: 2px solid $darkcolor;
  .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: display 300ms;
    .content{
      font-size: 1.2em;
      letter-spacing: 0.6em;
    }
  }
}
