.info{
  .content{
    text-align: justify;
    p{
      line-height: 2;
      margin-bottom: 1rem;
    }
  }
  .title{
    width: 80%;
    height: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: left;
    text-transform: uppercase;
  }
  table{
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid $borderlightcolor;
    border-collapse: collapse;
    font-size: $small;
    text-align: center;
    table{
      border: none;
    }
    thead{
      font-weight: bold;
      text-transform: uppercase;
      border: 1px solid $borderlightcolor;
      td{
        padding: 5px 0;
      }
    }
    td{
      max-width: 150px;
      width: max-content;
    }
  }
  a{
    color: $primary;
    &:hover{
      color: $primary-hover;
    }
  }
  .navigation-link{
    position: absolute;
    top: -1rem;
    right: 0;
    cursor: pointer;
    i{
      font-size: $xlarge;
      color: $darkcolor;
      transition: color 300ms;
    }
    i:hover{
      color: $secondary;
    }
  } 
}