.descrizione{
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  //z-index: 1;
  background-color: $lightcolor;
  color: $darkcolor;
  .box-container{
    position: relative;
    .box-row{
      padding: 1rem 0;
      padding-right: 15px;
      .img{
        margin-bottom: 2rem;
      }
      .img:hover{
        transform: none;
      }
      .date{
        margin-bottom: 2rem;
      }
      .item-title, 
      .download-title{
        margin-bottom: 2rem;
        color: $darkcolor;
      }
      .content{
        font-size: $text;
        text-align: justify;
        ul{
          li::before{
            font-family: $fontAwesome; 
            content: "\f1fb";
            font-size: $text;
          }
          li{
            line-height: 2rem;
          }
        }
      }
      .download{
        text-align: center;
        width: 200px;
        height: 200px;
        margin: auto;
        margin-bottom: 1rem;
        border-radius: 50%;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border 300ms;
        &:hover,
        &:focus{
          border: 1px solid $borderlightcolor;
        }
        .pdf{
          width: 90%;
          margin: auto;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          color: $darkcolor;
          span{
            font-weight: 600;
          }
          .acqua{
            color: $primary;
          }
          .solvente{
            color: $secondary;
          }
          &::before{
            font-family: $fontAwesome;
            content: "\f1c1";
            font-size: $xxlarge;
          }  
          &::first-letter{
            text-transform: uppercase;
          }
        }
      }
    }
    .close-link{
      position: absolute;
      top: 1rem;
      right: 1rem;
      .close::before{
        font-family: $fontAwesome;
        content: "\f057";
        color: $darkcolor;
        font-size: $xlarge;
        transition: color 300ms;
      }
      .close:hover::before{
        color: $secondary;
      }
    } 
  }
}