*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  height: 100%;
  max-width: $maxScreen;
  margin: auto;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

// section{
//   padding: 40px 0;
// }

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

input, button{
  font-size: $text;
  font-family: 'Poppins', sans-serif;
}

@mixin btn {
  width: max-content;
  height: auto;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: $normal;
  border: 1px solid $borderlightcolor;
  cursor: pointer;
}

/*Cards*/
.cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .card{
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        width: calc(100% / 6);
        min-height: 300px;
        padding: 20px;
        border: 1px solid #aaa;
        list-style: none;
            img{
                width: 100%;
                height: 100%;
        }
    }
}
