html {
  background-color: $darkcolor;
}
body{
  min-width: 375px;
}

#app {
  font-family: $fontPrimary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: $lightcolor;

}

#main{
  min-height: 100vh;
  transition: padding 300ms;
}