#app {
  font-family: 'Poppins', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $darkcolor;
  background-color: $lightcolor;
}

#main{
  //padding-top: 200px;
  min-height: 100vh;
  transition: padding 300ms;
}