/*Font Families*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Colors*/
$primary: #365fa8;
$secondary: #ed7124;

$darkcolor: #000000;
$lightcolor: #f9faf7;

$borderlightcolor: #f9faf7;
$vue-green: #42b983;
$vue-green-hover: #319266;


/*Font sizes*/
$xxlarge: 45px;
$xlarge: 36px;
$large: 24px;
$normal: 16px;
$text: 14px;
$small: 11px;

/*Media sizes*/
$maxScreen: 1440px;
$maxForm: 768px;
