/*Colors*/
$primary: #3761a9;
$primary-hover: #254274;
$secondary: #ed7124;
$secondary-hover: #d05a11;
$darkcolor: #000000;
$lightcolor: #f9faf7;
$borderlightcolor: #f9faf7;
$darktrasparency: rgba(0,0,0,0.85);
$lighttrasparency: rgba(0,0,0,0.3);

/*Font sizes*/
$xxlarge: 45px;
$xlarge: 36px;
$large: 24px;
$normal: 16px;
$text: 14px;
$small: 11px;

/*Media sizes*/
$maxScreen: 1440px;
$maxForm: 768px;

/*Logo*/
$logo: '~@/assets/M4_2021.svg';