/*Colors*/
$primary: #3761a9;
$primary-hover: #254274;
$secondary: #ed7124;
$secondary-hover: #d05a11;
$darkcolor: #1e1d1d;
$darkcolor2: black;
$lightcolor: #f9faf7;
$borderlightcolor: #dddddd;
$darktrasparency: rgba(0,0,0,0.85);
$lighttrasparency: rgba(255,255,255,0.85);

/*Font sizes*/
$xxlarge: 4rem;
$xlarge: 2.25rem;
$large: 1.5rem;
$medium: 1.2rem;
$normal: 1rem;
$text: 0.9rem;
$small: 0.8rem;

/*Media sizes*/
$maxScreen: 1440px;
$maxForm: 768px;

/*Logo*/
$logo: '~@/assets/M4_2021_only_logo.svg';